ul, li, a{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    height: 100px;
    color: beige;
    text-decoration: none; 
    font-family: sans-serif;
}
a:hover{
    text-decoration: underline;
}
   

